@{
    ViewData["Title"] = "Home Page";
}

<!--to write text in center -->
    <div class="text-center">
        <h1 class="display-4">Welcome</h1><br/>
        <!--Results info and slogan -->
        <h5>
            Find olympiad examinations results for 12th class Students of different Schools,in different subjects conducted by central and State Agencies of New Zealand.
            </h5><br/><!--it is break tag-->
            <h4 style="background-color:powderblue;"><!--to change the background colour of a line not the whole page-->Note:- *This site is only for Meritlisted Students*.</h4>
        <br/>
        
        <h5 style="background-color:;"> <!--to change the background colour of a line not the whole page-->"Success is not final, failure is not fatal; it is the courage to continue that counts."</h5>
        <!--Images-->
        <p> <img src="~/images/meritresult.jpg" alt="Exam Result" width="800" height="400"> </p>
    </div>

    