@model CompetitonMerit_MVC.Models.Student_participate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student_participate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student_Name" class="control-label">Student Name</label>
                <input asp-for="Student_Name" class="form-control" />
                <span asp-validation-for="Student_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_age" class="control-label">Student Age</label>
                <input asp-for="Student_age" class="form-control" />
                <span asp-validation-for="Student_age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile_Number" class="control-label">Mobile Number</label>
                <input asp-for="Mobile_Number" class="form-control" />
                <span asp-validation-for="Mobile_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_Address" class="control-label">Student Address</label>
                <input asp-for="Student_Address" class="form-control" />
                <span asp-validation-for="Student_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Father_Name" class="control-label">Father Name</label>
                <input asp-for="Father_Name" class="form-control" />
                <span asp-validation-for="Father_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
